.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
  
}
.right-links{
    display: flex;
    gap: 48px;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px;
    gap: 20px;
    background-color: #1f2937;
    color: white;
}
.moth{
    max-width: 500px;
}
.box-2{
    display: flex;
    flex: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
}